name: Build, Sign and Publish .NET Wrapper

on:
  push:
    branches:
      - build/signing-action
  workflow_dispatch:

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout

jobs:
  build-sign-publish:
    name: Build, Sign and Publish
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: |
          dotnet restore src/AwsWrapperDataProvider/AwsWrapperDataProvider.csproj
          dotnet restore src/AwsWrapperDataProvider.EntityFrameworkCore.MySQL/AwsWrapperDataProvider.EntityFrameworkCore.MySQL.csproj

      - name: Build projects
        run: |
          dotnet build src/AwsWrapperDataProvider/AwsWrapperDataProvider.csproj --configuration Release --no-restore
          dotnet build src/AwsWrapperDataProvider.EntityFrameworkCore.MySQL/AwsWrapperDataProvider.EntityFrameworkCore.MySQL.csproj --configuration Release --no-restore

      - name: Configure OIDC AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-skip-session-tagging: true
          aws-region: ${{ secrets.AWS_OIDC_REGION }}
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          role-session-name: aws-dotnet-wrapper-signer

      - name: Configure Signer AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-skip-session-tagging: true
          role-chaining: true
          aws-region: ${{ secrets.AWS_SIGNER_REGION }}
          role-to-assume: ${{ secrets.AWS_SIGNER_ROLE }}
          role-external-id: ${{ secrets.AWS_SIGNER_ROLE_ID }}

      - name: Sign DLL files
        shell: pwsh
        working-directory: ./scripts
        run: |
          . ".\sign_artifacts_win.ps1"
          Invoke-SignDlls `
            -BuildPath "../src" `
            -AwsUnsignedBucket "${{ secrets.AWS_UNSIGNED_BUCKET }}" `
            -AwsSignedBucket "${{ secrets.AWS_SIGNED_BUCKET }}"

      - name: Pack NuGet packages
        run: |
          dotnet pack src/AwsWrapperDataProvider/AwsWrapperDataProvider.csproj --configuration Release --no-build -p:PackageVersion=${{ github.event.inputs.version }} --output ./packages
          dotnet pack src/AwsWrapperDataProvider.EntityFrameworkCore.MySQL/AwsWrapperDataProvider.EntityFrameworkCore.MySQL.csproj --configuration Release --no-build -p:PackageVersion=${{ github.event.inputs.version }} --output ./packages

#      - name: Upload packages as artifacts
#        uses: actions/upload-artifact@v4
#        with:
#          name: nuget-packages
#          path: ./packages/*.nupkg
#
#      - name: Configure NuGet credential
#        uses: aws-actions/configure-aws-credentials@v4
#        with:
#          role-to-assume: ${{ secrets.NUGET_ACCESS_ROLE_ARN }}
#          aws-region: ${{ secrets.AWS_SIGNER_REGION }}
#
#      - name: Publish to NuGet
#        shell: pwsh
#        run: |
#          $nugetKey = aws secretsmanager get-secret-value --secret-id ${{ secrets.NUGET_SECRETS_ID }} --region ${{ secrets.AWS_SIGNER_REGION }} --output text --query SecretString | ConvertFrom-Json
#          dotnet nuget push ./packages/*.nupkg --source https://api.nuget.org/v3/index.json --api-key $nugetKey.Key